<div class="error-404-wrap">
  <div class="figure-holder">
    <img src="https://i.imgur.com/BjScPq1.png" alt="Figure 1" class="fig-1">
    <img src="https://i.imgur.com/b4h9hzD.png" alt="Figure 2" class="fig-2">
    <!-- <img src="../../assets/notfound1.png" alt="Figure 1" class="fig-1">
    <img src="../../assets/notfound2.png" alt="Figure 2" class="fig-2"> -->
    <div class="error-404-text">
      <h3>Oops! You’ve lost.</h3>
      <p>The page you are looking for can not be found.</p>
      <a routerLink="/dashboard" class="back-home">Back to Homepage</a>
    </div>
  </div>
</div>
