/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr";
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.sandal_bg {
  background-image: url(../src/assets/sandal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
